<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">インボイス検索</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="/projects/<%= req.project.id %>/home">Home</a>
                    </li>
                    <li class="breadcrumb-item active">インボイス検索</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-default">
                    <!-- <div class="card-header">
                        <h3 class="card-title">Select2</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div> -->
                    <form role="form" method="get">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="customer[ids]">Customer ID</label>
                                        <input type="text" class="form-control" id="customer[ids]" name="customer[ids]"
                                            placeholder="Customer ID"
                                            value="<%= (Array.isArray(searchConditions.customer.ids)) ? searchConditions.customer.ids.join(',') : '' %>">
                                    </div>
                                    <div class="form-group">
                                        <label for="customer[ids]">Customer Email</label>
                                        <input type="text" class="form-control" id="customer[email]"
                                            name="customer[email]" placeholder="cinerino@example.com(正規表現使用可)"
                                            value="<%= searchConditions.customer.email %>">
                                    </div>
                                    <div class="form-group">
                                        <label for="customer[ids]">Customer Telephone</label>
                                        <input type="text" class="form-control" id="customer[telephone]"
                                            name="customer[telephone]" placeholder="0312345678(正規表現使用可)"
                                            value="<%= searchConditions.customer.telephone %>">
                                    </div>
                                    <div class="form-group">
                                        <label for="customer[identifiers]">Customer Identifier</label>
                                        <input type="text" class="form-control" id="customer[identifiers]"
                                            name="customer[identifiers]" placeholder="username:cinerino"
                                            value="<%= (Array.isArray(searchConditions.customer.identifiers)) ? `${searchConditions.customer.identifiers[0].name}:${searchConditions.customer.identifiers[0].value}` : '' %>">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>決済方法</label>
                                        <select multiple class="form-control" name="paymentMethods[]">
                                            <% Object.values(PaymentMethodType).forEach(function (paymentMethod) { %>
                                            <%
                                            var selected = false;
                                            if (searchConditions.paymentMethods !== undefined) {
                                                selected = searchConditions.paymentMethods.indexOf(paymentMethod) >= 0;
                                            }
                                            %>
                                            <option value="<%= paymentMethod %>" <% if (selected) { %> selected <% } %>>
                                                <%= paymentMethod %>
                                            </option>
                                            <% }) %>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="paymentMethodIds">決済ID</label>
                                        <input type="text" class="form-control" id="paymentMethodIds"
                                            name="paymentMethodIds" placeholder="GMO取引ID、口座番号、ムビチケ購入管理番号など(カンマ区切り)"
                                            value="<%= (Array.isArray(searchConditions.paymentMethodIds)) ? searchConditions.paymentMethodIds.join(',') : '' %>">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="confirmationNumbers">確認番号</label>
                                        <input type="text" class="form-control" id="confirmationNumbers"
                                            name="confirmationNumbers" placeholder="確認番号"
                                            value="<%= (Array.isArray(searchConditions.confirmationNumbers)) ? searchConditions.confirmationNumbers.join(',') : '' %>">
                                    </div>
                                    <div class="form-group">
                                        <label for="referencesOrder[orderNumbers]">注文番号</label>
                                        <input type="text" class="form-control" id="referencesOrder[orderNumbers]"
                                            name="referencesOrder[orderNumbers]" placeholder="注文番号"
                                            value="<%= (Array.isArray(searchConditions.referencesOrder.orderNumbers)) ? searchConditions.referencesOrder.orderNumbers.join(',') : '' %>">
                                    </div>
                                    <div class="form-group">
                                        <label>作成日時</label>

                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control" name="createdAtRange"
                                                id="createdAtRange"
                                                value="<%= moment(searchConditions.createdFrom).format('YYYY-MM-DDTHH:mm:ssZ') %> - <%= moment(searchConditions.createdThrough).format('YYYY-MM-DDTHH:mm:ssZ') %>">
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                    <div class="form-group">
                                        <label>決済ステータス</label>
                                        <select multiple class="form-control" name="paymentStatuses[]">
                                            <% Object.values(PaymentStatusType).forEach(function (paymentStatus) { %>
                                            <% 
                                            var selected = false;
                                            selected = Array.isArray(searchConditions.paymentStatuses) && searchConditions.paymentStatuses.indexOf(paymentStatus) >= 0;
                                            %>
                                            <option value="<%= paymentStatus %>" <% if (selected) { %> selected <% } %>>
                                                <%= paymentStatus %>
                                            </option>
                                            <% }) %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-secondary float-right">検索</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->

            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Results</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive">
                        <table id="invoices-table" class="table table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <th>Account Id<br>Confirmation Number<br>Payment Method<br>Payment Method
                                        Id<br>Payment Status
                                    </th>
                                    <th>TotalPaymentDue</th>
                                    <th>Customer</th>
                                    <th>Order</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Account Id<br>Confirmation Number<br>Payment Method<br>Payment Method
                                        Id<br>Payment Status
                                    </th>
                                    <th>TotalPaymentDue</th>
                                    <th>Customer</th>
                                    <th>Order</th>
                                </tr>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->

<div class="modal" id="modal-customer-identifier" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- DataTables -->
<link rel="stylesheet" href="/node_modules/admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.css">

<script src="/js/invoices/index.js"></script>