<!DOCTYPE html>
<html style="font-size:14px;">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cinerino | Console</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/default.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/node_modules/admin-lte/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/node_modules/admin-lte/dist/css/adminlte.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="/node_modules/admin-lte/plugins/daterangepicker/daterangepicker.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#">
                        <i class="fa fa-bars"></i>
                    </a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="/projects/<%= req.project.id %>/home" class="nav-link">Home</a>
                </li>
            </ul>

            <!-- SEARCH FORM -->
            <!-- <form class="form-inline ml-3">
                <div class="input-group input-group-sm">
                    <input class="form-control form-control-navbar" type="search" placeholder="Searching..."
                        aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-navbar" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form> -->

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="fa fa-user"></i>
                        <!-- <span class="badge badge-warning navbar-badge">15</span> -->
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <!-- Sidebar user panel (optional) -->
                        <div class="user-panel mt-3 mb-3 d-flex">
                            <div class="image">
                                <img src="https://s3-ap-northeast-1.amazonaws.com/cinerino/logos/cinerino.png"
                                    class="img-circle elevation-2" alt="User Image">
                            </div>
                            <div class="info">
                                <!-- <a href="#" class="d-block"> -->
                                <%= req.user.profile['cognito:username'] %>
                                <!-- </a> -->
                            </div>
                        </div>

                        <!-- <span class="dropdown-item dropdown-header">15 Notifications</span> -->
                        <div class="dropdown-divider"></div>
                        <a href="/projects/<%= req.project.id %>/iam/members/me" class="dropdown-item">
                            <i class="fa fa-user-tag mr-2"></i> My Account
                            <!-- <span class="float-right text-muted text-sm">3 mins</span> -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="<%= req.user.generateLogoutUrl() %>" class="dropdown-item">
                            <i class="fa fa-sign-out-alt mr-2"></i> Sign Out
                            <!-- <span class="float-right text-muted text-sm">2 days</span> -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <!-- <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a> -->
                    </div>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#">
                        <i class="fas fa-th-large"></i>
                    </a>
                </li> -->
            </ul>
        </nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="/" class="brand-link">
                <img src="/projects/<%= req.project.id %>/logo" alt="Cinerino Logo"
                    class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Cinerino Console</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
                        <li class="nav-item">
                            <a href="/projects/<%= req.project.id %>/home" class="nav-link">
                                <i class="nav-icon fa fa-tachometer-alt"></i>
                                <p>
                                    HOME
                                    <span class="badge badge-info right"></span>
                                </p>
                            </a>
                        </li>
                        <li class="nav-header">リソース検索</li>
                        <li class="nav-item">
                            <a href="/projects/<%= req.project.id %>/sellers" class="nav-link">
                                <i class="nav-icon fa fa-store"></i>
                                <p>
                                    販売者
                                    <span class="badge badge-info right"></span>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/projects/<%= req.project.id %>/events" class="nav-link">
                                <i class="nav-icon fa fa-film"></i>
                                <p>
                                    イベント
                                    <span class="badge badge-info right"></span>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/projects/<%= req.project.id %>/programMemberships" class="nav-link">
                                <i class="nav-icon fa fa-award"></i>
                                <p>
                                    会員プログラム
                                    <span class="badge badge-info right"></span>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-shopping-cart"></i>
                                <p>
                                    注文
                                    <i class="right fa fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">

                                <li class="nav-item">
                                    <a href="/projects/<%= req.project.id %>/orders" class="nav-link">
                                        <i class="nav-icon fa fa-shopping-cart"></i>
                                        <p>
                                            注文
                                            <span class="badge badge-info right"></span>
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/projects/<%= req.project.id %>/invoices" class="nav-link">
                                        <i class="nav-icon fa fa-receipt"></i>
                                        <p>
                                            インボイス
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-credit-card"></i>
                                <p>
                                    決済方法
                                    <i class="right fa fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/projects/<%= req.project.id %>/paymentMethods/movieTicket"
                                        class="nav-link">
                                        <i class="nav-icon fa fa-credit-card"></i>
                                        <p>
                                            ムビチケ検索 & 認証
                                            <span class="badge badge-info right"></span>
                                        </p>
                                    </a>
                                </li>
                                <!-- <li class="nav-item">
                                    <a href="/projects/<%= req.project.id %>/accounts/coin" class="nav-link">
                                        <i class="nav-icon fa fa-piggy-bank"></i>
                                        <p>
                                            コイン口座
                                            <span class="badge badge-info right"></span>
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/projects/<%= req.project.id %>/accounts/point" class="nav-link">
                                        <i class="nav-icon fa fa-piggy-bank"></i>
                                        <p>
                                            ポイント口座
                                            <span class="badge badge-info right"></span>
                                        </p>
                                    </a>
                                </li> -->
                                <li class="nav-item">
                                    <a href="/projects/<%= req.project.id %>/accounts" class="nav-link">
                                        <i class="nav-icon fa fa-piggy-bank"></i>
                                        <p>
                                            口座
                                            <span class="badge badge-info right"></span>
                                        </p>
                                    </a>
                                </li>
                                <!-- <li class="nav-item">
                                    <a href="/projects/<%= req.project.id %>/accounts/actions/MoneyTransfer"
                                        class="nav-link">
                                        <i class="nav-icon fa fa-exchange-alt"></i>
                                        <p>
                                            口座転送履歴
                                            <span class="badge badge-info right"></span>
                                        </p>
                                    </a>
                                </li> -->
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="/projects/<%= req.project.id %>/reservations" class="nav-link">
                                <i class="nav-icon fa fa-ticket-alt"></i>
                                <p>
                                    予約
                                    <span class="badge badge-danger right"></span>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/projects/<%= req.project.id %>/people" class="nav-link">
                                <i class="nav-icon fa fa-user"></i>
                                <p>
                                    ユーザー
                                    <span class="badge badge-info right"></span>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/projects/<%= req.project.id %>/ownershipInfos" class="nav-link">
                                <i class="nav-icon fa fa-hands"></i>
                                <p>
                                    所有権
                                    <span class="badge badge-danger right"></span>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/projects/<%= req.project.id %>/authorizations" class="nav-link">
                                <i class="nav-icon fa fa-qrcode"></i>
                                <p>
                                    認可
                                    <span class="badge badge-danger right"></span>
                                </p>
                            </a>
                        </li>

                        <li class="nav-header">高度なリソース検索</li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-table"></i>
                                <p>
                                    取引
                                    <i class="right fa fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/projects/<%= req.project.id %>/transactions/placeOrder" class="nav-link">
                                        <i class="nav-icon fa fa-table"></i>
                                        <p>
                                            注文取引
                                            <span class="badge badge-info right"></span>
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/projects/<%= req.project.id %>/transactions/returnOrder" class="nav-link">
                                        <i class="nav-icon fa fa-table"></i>
                                        <p>
                                            注文返品取引
                                            <span class="badge badge-info right"></span>
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/projects/<%= req.project.id %>/transactions/moneyTransfer"
                                        class="nav-link">
                                        <i class="nav-icon fa fa-table"></i>
                                        <p>
                                            通貨転送取引
                                            <span class="badge badge-danger right">New</span>
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="/projects/<%= req.project.id %>/actions" class="nav-link">
                                <i class="nav-icon fa fa-table"></i>
                                <p>
                                    アクション
                                    <span class="badge badge-danger right"></span>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/projects/<%= req.project.id %>/tasks" class="nav-link">
                                <i class="nav-icon fa fa-tasks"></i>
                                <p>
                                    タスク
                                    <span class="badge badge-info right"></span>
                                </p>
                            </a>
                        </li>

                        <li class="nav-header">プロジェクト</li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-user-shield"></i>
                                <p>
                                    IAM
                                    <i class="right fa fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/projects/<%= req.project.id %>/iam/members" class="nav-link">
                                        <i class="nav-icon fa fa-user-circle"></i>
                                        <p>
                                            メンバー
                                            <span class="badge badge-info right"></span>
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/projects/<%= req.project.id %>/iam/roles" class="nav-link">
                                        <i class="nav-icon fa fa-hat-cowboy"></i>
                                        <p>
                                            役割
                                            <span class="badge badge-info right"></span>
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="/projects/<%= req.project.id %>/waiter/rules" class="nav-link">
                                <i class="nav-icon fa fa-passport"></i>
                                <p>
                                    入場制限規則
                                    <span class="badge badge-info right"></span>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/projects/<%= req.project.id %>" class="nav-link">
                                <i class="nav-icon fa fa-cog"></i>
                                <p>
                                    設定
                                    <span class="badge badge-info right"></span>
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <script>
                var PROJECT_ID = '<%= req.project.id %>';
            </script>
            <input type="hidden" name="PROJECT_ID" value="<%= req.project.id %>">
            <%- body %>
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2017-<%= new Date().getFullYear() %>
                <a href="https://motionpicture.jp">motionpicture.jp</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> <%= version %>
            </div>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <!-- jQuery -->
    <script src="/node_modules/admin-lte/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="/node_modules/admin-lte/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- jQuery -->
    <!-- <script src="/node_modules/admin-lte/plugins/jquery/jquery.min.js"></script> -->
    <!-- jQuery UI 1.11.4 -->
    <!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script> -->
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="/node_modules/admin-lte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="/node_modules/admin-lte/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="/node_modules/admin-lte/plugins/sparklines/sparkline.js"></script>
    <!-- Morris.js charts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="/node_modules/admin-lte/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="/node_modules/admin-lte/plugins/moment/moment.min.js"></script>
    <script src="/node_modules/admin-lte/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script
        src="/node_modules/admin-lte/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- FastClick -->
    <script src="/node_modules/admin-lte/plugins/fastclick/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="/node_modules/admin-lte/dist/js/adminlte.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <!-- <script src="/node_modules/admin-lte/dist/js/pages/dashboard.js"></script> -->
    <!-- AdminLTE for demo purposes -->
    <script src="/node_modules/admin-lte/dist/js/demo.js"></script>
    <!-- DataTables -->
    <script src="/node_modules/admin-lte/plugins/datatables/jquery.dataTables.js"></script>
    <script src="/node_modules/admin-lte/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <%- script %>
</body>

</html>