<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">所有権検索</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="/projects/<%= req.project.id %>/home">Home</a>
                    </li>
                    <li class="breadcrumb-item active">所有権検索</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-default">
                    <div class="card-header">
                        <!-- <h3 class="card-title">Quick Example</h3> -->
                        <div class="toolbar">
                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                            <a class="btn btn-default btn-sm search" href="#">
                                <i class="fa fa-redo"></i>&nbsp;&nbsp;更新</a>
                        </div>
                    </div>
                    <!-- /.card-header -->

                    <div class="card-body">
                        <!-- form start -->
                        <form role="form" method="get" class="search">
                            <div class="form-row">
                                <div class="form-group col-md-2">
                                    <label for="ids">所有権ID</label>
                                    <input type="text" class="form-control form-control-sm" id="ids" name="ids"
                                        placeholder="所有権ID"
                                        value="<%= (Array.isArray(searchConditions.ids)) ? searchConditions.ids.join(',') : '' %>">
                                </div>

                                <div class="form-group col-md-2">
                                    <label for="ownedBy[id]">所有者ID</label>
                                    <input type="text" class="form-control form-control-sm" id="ownedBy[id]"
                                        name="ownedBy[id]" placeholder="ユーザーID,アプリケーションIDなど"
                                        value="<%= (searchConditions.ownedBy !== undefined) ? searchConditions.ownedBy.id : '' %>">
                                </div>

                                <div class="form-group col-md-2">
                                    <label>所有期間</label>

                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control form-control-sm" name="ownedRange"
                                            id="ownedRange"
                                            value="<%= (searchConditions.ownedFrom !== undefined) ? `${moment(searchConditions.ownedFrom).format('YYYY-MM-DDTHH:mm:ssZ')} - ${moment(searchConditions.ownedThrough).format('YYYY-MM-DDTHH:mm:ssZ')}` : '' %>">
                                    </div>
                                    <!-- /.input group -->
                                </div>

                                <div class="form-group col-md-2">
                                    <label>所有物タイプ</label>
                                    <select class="form-control form-control-sm" name="typeOfGood[typeOf]">
                                        <option value="">---</option>
                                        <% GoodTypeChoices.forEach(function (GoodTypeChoice) { %>
                                        <%
                                        var selected = false;
                                        if (searchConditions.typeOfGood !== undefined && searchConditions.typeOfGood.typeOf !== undefined) {
                                            selected = searchConditions.typeOfGood.typeOf === GoodTypeChoice;
                                        }
                                        %>
                                        <option value="<%= GoodTypeChoice %>" <% if (selected) { %> selected <% } %>>
                                            <%= GoodTypeChoice %>
                                        </option>
                                        <% }) %>
                                    </select>
                                </div>

                                <div class="form-group col-md-2">
                                    <label for="typeOfGood[ids]">所有物ID</label>
                                    <input type="text" class="form-control form-control-sm" id="typeOfGood[ids]"
                                        name="typeOfGood[ids]" placeholder="予約IDなど"
                                        value="<%= (searchConditions.typeOfGood !== undefined && Array.isArray(searchConditions.typeOfGood.ids)) ? searchConditions.typeOfGood.ids.join(',') : '' %>">
                                </div>

                                <div class="form-group col-md-2">
                                    <label for="typeOfGood[accountNumbers]">口座番号</label>
                                    <input type="text" class="form-control form-control-sm"
                                        id="typeOfGood[accountNumbers]" name="typeOfGood[accountNumbers]"
                                        placeholder="1234567"
                                        value="<%= (searchConditions.typeOfGood !== undefined && Array.isArray(searchConditions.typeOfGood.accountNumbers)) ? searchConditions.typeOfGood.accountNumbers.join(',') : '' %>">
                                </div>
                            </div>
                        </form>

                        <div class="table-responsive">
                            <table id="ownershipInfos-table" class="table table-sm table-hover dataTable">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>所有開始</th>
                                        <th>所有終了</th>
                                        <th>所有者</th>
                                        <th>所有物</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <!-- /.card-body -->

                    <div class="modal" id="modal-ownershipInfo" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title"></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span></button>
                                </div>
                                <div class="modal-body">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default pull-left"
                                        data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.card -->

            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->

<!-- DataTables -->
<link rel="stylesheet" href="/node_modules/admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.css">

<script src="/js/ownershipInfos/index.js"></script>