<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">カスタマー検索</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="/projects/<%= req.project.id %>/home">Home</a>
                    </li>
                    <li class="breadcrumb-item active">カスタマー検索</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-default">
                    <div class="card-header">
                        <!-- <h3 class="card-title">Quick Example</h3> -->
                        <div class="toolbar">
                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                            <a class="btn btn-default btn-sm search" href="#">
                                <i class="fa fa-redo"></i>&nbsp;&nbsp;更新</a>
                        </div>
                    </div>
                    <!-- /.card-header -->

                    <div class="card-body">
                        <!-- form start -->
                        <form role="form" method="get" class="search">
                            <div class="form-row">
                                <div class="form-group col-md-2">
                                    <label for="id">ID</label>
                                    <input type="text" class="form-control form-control-sm" id="id" name="id"
                                        placeholder="ユーザーID(前方一致)" value="<%= searchConditions.id %>">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="username">Username</label>
                                    <input type="text" class="form-control form-control-sm" id="username"
                                        name="username" placeholder="ユーザーネーム(前方一致)"
                                        value="<%= searchConditions.username %>">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="familyName">Family Name</label>
                                    <input type="text" class="form-control form-control-sm" id="familyName"
                                        name="familyName" placeholder="Family Name(前方一致)"
                                        value="<%= searchConditions.familyName %>">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="givenName">Given Name</label>
                                    <input type="text" class="form-control form-control-sm" id="givenName"
                                        name="givenName" placeholder="Given Name(前方一致)"
                                        value="<%= searchConditions.givenName %>">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="email">Email</label>
                                    <input type="text" class="form-control form-control-sm" id="email" name="email"
                                        placeholder="Email(前方一致)" value="<%= searchConditions.email %>">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="telephone">Telephone</label>
                                    <input type="text" class="form-control form-control-sm" id="telephone"
                                        name="telephone" placeholder="Telephone(前方一致)"
                                        value="<%= searchConditions.telephone %>">
                                </div>
                            </div>
                        </form>

                        <div class="table-responsive">
                            <table id="people-table" class="table table-sm table-hover dataTable">
                                <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>ID</th>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th>Telephone</th>
                                        <th>Family Name</th>
                                        <th>Given Name</th>
                                        <th>Additional Property</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <!-- /.card-body -->

                    <div class="modal" id="modal-person" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title"></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span></button>
                                </div>
                                <div class="modal-body">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default pull-left"
                                        data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card -->

            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->

<!-- DataTables -->
<link rel="stylesheet" href="/node_modules/admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.css">

<script src="/js/people/index.js"></script>