<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">会員詳細</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="/projects/<%= req.project.id %>/dashboard">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/projects/<%= req.project.id %>/people">会員検索</a>
                    </li>
                    <li class="breadcrumb-item active">会員詳細</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h5>
                <i class="icon fa fa-info"></i> 機能追加</h5>
        </div>

        <% if (messages.message) { %>
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h5>
                <i class="icon fa fa-check"></i> Congraturations!</h5>
            <%= messages.message %>
        </div>
        <% } %>

        <% if (message) { %>
        <div class="alert alert-warning alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%- message.replace(/\n/g, '<br>') %>
        </div>
        <% } %>

        <div class="row">
            <div class="col-md-3">

                <!-- Profile Image -->
                <div class="card card-dark card-outline">
                    <div class="card-body box-profile">
                        <!-- <div class="text-center">
                                    <img class="profile-user-img img-fluid img-circle" src="../../dist/img/user4-128x128.jpg"
                                        alt="User profile picture">
                                </div> -->

                        <h3 class="profile-username text-center">
                            <%= person.givenName %>
                            <%= person.familyName %>
                        </h3>

                        <p class="text-muted text-center">
                            <%= person.memberOf.membershipNumber %>
                        </p>

                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>Orders</b> <a class="float-right" id="orderCount">searching...</a>
                            </li>
                        </ul>

                        <!-- <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a> -->
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

                <!-- About Me Box -->
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">About</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <strong><i class="fa fa-phone mr-1"></i> Telephone</strong>
                        <p class="text-muted">
                            <%= person.telephone %>
                        </p>
                        <hr>

                        <strong><i class="fa fa-envelope mr-1"></i> Email</strong>
                        <p class="text-muted">
                            <%= person.email %>
                        </p>
                        <hr>

                        <strong><i class="fa fa-piggy-bank mr-1"></i> 口座</strong>
                        <p class="text-muted">
                            <% coinAccounts.forEach((ownershipInfo) => { %>
                            <% const account = ownershipInfo.typeOfGood %>
                            <span class="badge badge-secondary <%= account.accountType %>">
                                <%= account.accountType %>
                            </span>
                            <a target="_blank"
                                href="<%= req.project.settings.PECORINO_CONSOLE_ENDPOINT %>/accounts/<%= account.accountType %>/<%= account.accountNumber %>">
                                <%= account.accountNumber %>
                            </a>
                            <span class="badge badge-secondary <%= account.status %>">
                                <%= account.status %>
                            </span>
                            <br>
                            <% }) %>

                            <% pointAccounts.forEach((ownershipInfo) => { %>
                            <% const account = ownershipInfo.typeOfGood %>
                            <span class="badge badge-secondary <%= account.accountType %>">
                                <%= account.accountType %>
                            </span>
                            <a target="_blank"
                                href="<%= req.project.settings.PECORINO_CONSOLE_ENDPOINT %>/accounts/<%= account.accountType %>/<%= account.accountNumber %>">
                                <%= account.accountNumber %>
                            </a>
                            <span class="badge badge-secondary <%= account.status %>">
                                <%= account.status %>
                            </span>
                            <br>
                            <% }) %>
                        </p>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link active" href="#orders" data-toggle="tab">
                                    <i class="nav-icon fa fa-shopping-cart"></i>
                                </a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#reservations" data-toggle="tab">
                                    <i class="nav-icon fa fa-ticket-alt"></i></a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#programMemberships" data-toggle="tab">
                                    <i class="nav-icon fa fa-award"></i></a>
                            </li>
                            <li class="nav-item"><a class="nav-link creditCards" href="#creditCards" data-toggle="tab">
                                    <i class="nav-icon far fa-credit-card"></i></a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#jsonViewer" data-toggle="tab">
                                    <i class="nav-icon fa fa-code"></i></a></li>
                            <li class="nav-item"><a class="nav-link settings" href="#settings" data-toggle="tab">
                                    <i class="nav-icon fa fa-cog"></i></a></li>
                            <li class="nav-item"><a class="nav-link others" href="#others" data-toggle="tab">その他の操作</a>
                            </li>
                        </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="active tab-pane" id="orders">
                                <div class="table-responsive">
                                    <table class="table m-0">
                                        <thead>
                                            <tr>
                                                <th>Order Number</th>
                                                <th>Order Date</th>
                                                <th>Item</th>
                                                <th>Payment Method</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>

                            <div class="tab-pane" id="reservations">
                                <div class="table-responsive">
                                    <table class="table m-0">
                                        <thead>
                                            <tr>
                                                <th>Reservation Number</th>
                                                <th>Modified Time</th>
                                                <th>Reservation For</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>

                            <div class="tab-pane" id="programMemberships">
                                <div class="table-responsive">
                                    <table class="table m-0">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Program Name</th>
                                                <th>Owned From</th>
                                                <th>Owned Through</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>

                            <div class="tab-pane" id="creditCards">
                                <div class="table-responsive">
                                    <table class="table m-0">
                                        <thead>
                                            <tr>
                                                <th>CardName</th>
                                                <th>HolderName</th>
                                                <th>CardNo</th>
                                                <th>Expire</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>

                            <div class="tab-pane" id="jsonViewer">
                                <h4>Person</h4>
                                <div class="form-group">
                                    <textarea class="form-control person" rows="20" placeholder=""
                                        disabled=""><%= JSON.stringify(person, null, '\t') %></textarea>
                                </div>

                                <h4>口座</h4>
                                <div class="form-group">
                                    <textarea class="form-control" rows="20" placeholder=""
                                        disabled=""><%= JSON.stringify(coinAccounts, null, '\t') %></textarea>
                                    <br>
                                    <textarea class="form-control" rows="20" placeholder=""
                                        disabled=""><%= JSON.stringify(pointAccounts, null, '\t') %></textarea>
                                </div>
                            </div>
                            <!-- /.tab-pane -->

                            <div class="tab-pane" id="settings">
                                <!-- form start -->
                                <form role="form" method="post">
                                    <div class="card-body">
                                        <%- include('./form', {person: person}) %>
                                    </div>
                                    <!-- /.card-body -->

                                    <div class="card-footer">
                                        <a href="#" class="btn btn-primary" data-toggle="modal"
                                            data-target="#modal-updateProfile">更新</a>
                                    </div>
                                </form>
                            </div>
                            <!-- /.tab-pane -->

                            <div class="tab-pane" id="others">
                                <!-- general form elements -->
                                <div class="card card-dark">
                                    <!-- <div class="card-header">
                                        <h3 class="card-title">その他の操作</h3>
                                    </div> -->
                                    <!-- /.card-header -->

                                    <div class="card-body">
                                        <a href="#" class="btn btn-danger" data-toggle="modal"
                                            data-target="#modal-confirmDelete"><i class="fa fa-trash-alt"></i> 削除する</a>
                                        <!-- <button type="button" class="delete btn btn-danger">削除する</button> -->
                                    </div>
                                    <!-- /.card-body -->
                                    <!-- <div class="card-footer">
                                        </div> -->
                                </div>
                                <!-- /.card -->
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<!-- Modal -->
<div class="modal fade" id="modal-updateProfile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><%= person.givenName %>
                    <%= person.familyName %>のプロフィールを更新しますか？</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><%= person.givenName %>
                    <%= person.familyName %>のプロフィールを更新するには、ユーザーネーム「<b><%= person.memberOf.membershipNumber %></b>」を入力してください。
                </p>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="confirmUpdateProfile" placeholder="ユーザーネーム"
                            data-expected="<%= person.memberOf.membershipNumber %>">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
                <!-- <button type="submit" class="btn btn-primary">更新</button> -->
                <button type="button" class="btn btn-primary disabled updateProfile" disabled>更新する</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-confirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><%= person.givenName %>
                    <%= person.familyName %>を削除しますか？</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-warning">
                    <i class="icon fa fa-exclamation-triangle"></i>
                    この操作は元には戻せません。<br>
                    削除後、ユーザーによってこれまで作成されたリソースは削除されませんが、本ユーザーとしてリソースにアクセスすることは永久的にできなくなります。<br>
                    また、同ユーザーネームを他人が使用することが可能になります。<br>
                </p>
                <p>
                    <%= person.givenName %>
                    <%= person.familyName %>を削除するには、ユーザーネーム「<b><%= person.memberOf.membershipNumber %></b>」を入力してください。
                </p>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="confirmDelete" placeholder="ユーザーネーム"
                            data-expected="<%= person.memberOf.membershipNumber %>">
                    </div>

                    <hr>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="physically" name="physically">
                        <label class="form-check-label" for="physically">物理削除する</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
                <button type="button" class="btn btn-danger disabled delete" disabled>削除する</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/people/show.js"></script>