<%
let coinAccountPayment;
let pointAccountPayment;
let creditCardPayment;
let movieTicketPayment;
let cashPayment;
let emoneyPayment;
let othersPayment;
if (seller !== undefined) {
    coinAccountPayment = seller.paymentAccepted.find((p)=>p.paymentMethodType === PaymentMethodType.Account && p.accountType === 'Coin');
    pointAccountPayment = seller.paymentAccepted.find((p)=>p.paymentMethodType === PaymentMethodType.Account && p.accountType === 'Point');
    creditCardPayment = seller.paymentAccepted.find((p)=>p.paymentMethodType === PaymentMethodType.CreditCard);
    movieTicketPayment = seller.paymentAccepted.find((p)=>p.paymentMethodType === PaymentMethodType.MovieTicket);
    cashPayment = seller.paymentAccepted.find((p)=>p.paymentMethodType === PaymentMethodType.Cash);
    emoneyPayment = seller.paymentAccepted.find((p)=>p.paymentMethodType === PaymentMethodType.EMoney);
    othersPayment = seller.paymentAccepted.find((p)=>p.paymentMethodType === PaymentMethodType.Others);
}
%>
<div class="form-group">
    <label>組織タイプ</label>
    <select class="form-control" name="typeOf">
        <% Object.values(OrganizationType).forEach(function (organizationType) { %>
        <%
        var selected = false;
        if (seller !== undefined) {
            selected = seller.typeOf === organizationType;
        }
        %>
        <option value="<%= organizationType %>" <% if (selected) { %> selected <% } %>>
            <%= organizationType %>
        </option>
        <% }) %>
    </select>
</div>

<div class="form-group">
    <label for="branchCode">販売イベント供給サービス</label>
    <select class="form-control" name="makesOffer[offeredThrough][identifier]">
        <option value="">---</option>
        <% Object.values(WebAPIIdentifier).forEach(function (identifier) { %>
        <%
        var selected = false;
        if (seller !== undefined && Array.isArray(seller.makesOffer) && seller.makesOffer.length > 0) {
            selected = seller.makesOffer[0].offeredThrough.identifier === identifier;
        }
        %>
        <option value="<%= identifier %>" <% if (selected) { %> selected <% } %>>
            <%= identifier %>
        </option>
        <% }) %>
    </select>
</div>

<div class="form-group">
    <label for="branchCode">販売イベント場所ブランチコード</label>
    <input type="text" class="form-control" id="branchCode" name="branchCode" placeholder="販売イベント劇場枝番号"
        value="<%= (seller !== undefined && seller.location !== undefined && seller.location !== null) ?  seller.location.branchCode : '' %>">
</div>

<div class="form-group">
    <label for="name[ja]">日本語名称</label>
    <input type="text" class="form-control" id="name[ja]" name="name[ja]" placeholder="日本語名称"
        value="<%= (seller !== undefined) ?  seller.name.ja : '' %>">
</div>

<div class="form-group">
    <label for="name[en]">英語名称</label>
    <input type="text" class="form-control" id="name[en]" name="name[en]" placeholder="英語名称"
        value="<%= (seller !== undefined) ?  seller.name.en : '' %>">
</div>

<div class="form-group">
    <label for="telephone">Telephone</label>
    <input type="text" class="form-control" id="telephone" name="telephone" placeholder="telephone"
        value="<%= (seller !== undefined) ?  seller.telephone : '' %>">
</div>

<div class="form-group">
    <label for="url">URL</label>
    <input type="text" class="form-control" id="url" name="url" placeholder="URL"
        value="<%= (seller !== undefined) ?  seller.url : '' %>">
</div>

<hr>
<div class="form-group">
    <label for="gmoInfo[shopId]">GMOショップID</label>
    <input type="text" class="form-control" id="gmoInfo[shopId]" name="gmoInfo[shopId]" placeholder="GMOショップID"
        value="<%= (creditCardPayment !== undefined) ? creditCardPayment.gmoInfo.shopId : '' %>">
</div>

<div class="form-group">
    <label for="gmoInfo[shopPass]">GMOショップPASS</label>
    <input type="password" class="form-control" id="gmoInfo[shopPass]" name="gmoInfo[shopPass]"
        placeholder="GMOショップPASS"
        value="<%= (creditCardPayment !== undefined) ? creditCardPayment.gmoInfo.shopPass : '' %>">
</div>

<hr>
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="movieTicketPaymentAccepted" name="movieTicketPaymentAccepted"
        <%=(movieTicketPayment !==　undefined) ? ' checked' : '' %>>
    <label class="form-check-label" for="movieTicketPaymentAccepted">ムビチケ決済を許可</label>
</div>

<div class="form-group">
    <label for="movieTicketInfo[kgygishCd]">ムビチケ興行会社コード</label>
    <input type="text" class="form-control" id="movieTicketInfo[kgygishCd]" disabled placeholder="ムビチケ興行会社コード"
        value="<%= (project.settings.mvtkReserve !== undefined) ? project.settings.mvtkReserve.companyCode : '' %>">
    <input type="hidden" name="movieTicketInfo[kgygishCd]"
        value="<%= (project.settings.mvtkReserve !== undefined) ? project.settings.mvtkReserve.companyCode : '' %>">
</div>

<div class="form-group">
    <label for="gmoInfo[shopId]">ムビチケサイトコード</label>
    <input type="text" class="form-control" id="movieTicketInfo[stCd]" name="movieTicketInfo[stCd]"
        placeholder="ムビチケサイトコード"
        value="<%= (movieTicketPayment !== undefined) ? movieTicketPayment.movieTicketInfo.stCd : '' %>">
</div>

<hr>
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="pointAccountPaymentAccepted" name="pointAccountPaymentAccepted"
        <%=(pointAccountPayment !==undefined) ? ' checked' : '' %>>
    <label class="form-check-label" for="pointAccountPaymentAccepted">ポイント口座決済を許可</label>
</div>
<div class="form-group">
    <label for="pointAccountPayment[accountNumber]"></label>
    <input type="text" class="form-control" id="pointAccountPayment[accountNumber]"
        name="pointAccountPayment[accountNumber]" placeholder="ポイント口座番号"
        value="<%= (pointAccountPayment !== undefined) ? pointAccountPayment.accountNumber : '' %>">
</div>

<hr>
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="cashPaymentAccepted" name="cashPaymentAccepted" <%=(cashPayment
        !==　undefined) ? ' checked' : '' %>>
    <label class="form-check-label" for="cashPaymentAccepted">
        <%= PaymentMethodType.Cash %>決済を許可</label>
</div>

<hr>
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="emoneyPaymentAccepted" name="emoneyPaymentAccepted" <%=(emoneyPayment
        !==　undefined) ? ' checked' : '' %>>
    <label class="form-check-label" for="emoneyPaymentAccepted">
        <%= PaymentMethodType.EMoney %>決済を許可</label>
</div>

<hr>
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="othersPaymentAccepted" name="othersPaymentAccepted" <%=(othersPayment
        !==　undefined) ? ' checked' : '' %>>
    <label class="form-check-label" for="othersPaymentAccepted">
        <%= PaymentMethodType.Others %>決済を許可</label>
</div>