<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">注文検索</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="/projects/<%= req.project.id %>/home">Home</a>
                    </li>
                    <li class="breadcrumb-item active">注文検索</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-default">
                    <!-- <div class="card-header">
                        <h3 class="card-title">Select2</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div> -->
                    <form role="form" method="get">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="confirmationNumbers">確認番号</label>
                                        <input type="text" class="form-control" id="confirmationNumbers"
                                            name="confirmationNumbers" placeholder="確認番号"
                                            value="<%= (Array.isArray(searchConditions.confirmationNumbers)) ? searchConditions.confirmationNumbers.join(',') : '' %>">
                                    </div>
                                    <div class="form-group">
                                        <label for="orderNumbers">注文番号</label>
                                        <input type="text" class="form-control" id="orderNumbers" name="orderNumbers"
                                            placeholder="注文番号"
                                            value="<%= (Array.isArray(searchConditions.orderNumbers)) ? searchConditions.orderNumbers.join(',') : '' %>">
                                    </div>
                                    <div class="form-group">
                                        <label>注文日時</label>

                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control" name="orderDateRange"
                                                id="orderDateRange"
                                                value="<%= (searchConditions.orderDateFrom !== undefined) ? `${moment(searchConditions.orderDateFrom).format('YYYY-MM-DDTHH:mm:ssZ')} - ${moment(searchConditions.orderDateThrough).format('YYYY-MM-DDTHH:mm:ssZ')}` : '' %>">
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                    <div class="form-group">
                                        <label>注文ステータス</label>
                                        <select multiple class="form-control" name="orderStatuses[]" size="6">
                                            <% Object.values(OrderStatus).forEach(function (orderStatus) { %>
                                            <% 
                                            var selected = false;
                                            selected = Array.isArray(searchConditions.orderStatuses) && searchConditions.orderStatuses.indexOf(orderStatus) >= 0;
                                            %>
                                            <option value="<%= orderStatus %>" <% if (selected) { %> selected <% } %>>
                                                <%= orderStatus %>
                                            </option>
                                            <% }) %>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="identifier[$in]">注文識別子</label>
                                        <input type="text" class="form-control" id="identifier[$in]"
                                            name="identifier[$in]" placeholder="confirmationPass:cinerino"
                                            value="<%= (Array.isArray(searchConditions.identifier.$in)) ? `${searchConditions.identifier.$in[0].name}:${searchConditions.identifier.$in[0].value}` : '' %>">
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="customer[membershipNumbers]">Username</label>
                                        <input type="text" class="form-control" id="customer[membershipNumbers]"
                                            name="customer[membershipNumbers]" placeholder="username1234"
                                            value="<%= (Array.isArray(searchConditions.customer.memberOf.membershipNumber.$in)) ? searchConditions.customer.memberOf.membershipNumber.$in.join(',') : '' %>">
                                    </div>
                                    <div class="form-group">
                                        <label for="customer[ids]">User ID</label>
                                        <input type="text" class="form-control" id="customer[ids]" name="customer[ids]"
                                            placeholder="Customer ID"
                                            value="<%= (Array.isArray(searchConditions.customer.ids)) ? searchConditions.customer.ids.join(',') : '' %>">
                                    </div>
                                    <div class="form-group">
                                        <label for="customer[ids]">Family Name</label>
                                        <input type="text" class="form-control" id="customer[familyName][$eq]"
                                            name="customer[familyName][$eq]" placeholder="もーしょん(完全一致)"
                                            value="<%= searchConditions.customer.familyName.$eq %>">
                                    </div>
                                    <div class="form-group">
                                        <label for="customer[ids]">Given Name</label>
                                        <input type="text" class="form-control" id="customer[givenName][$eq]"
                                            name="customer[givenName][$eq]" placeholder="たろう(完全一致)"
                                            value="<%= searchConditions.customer.givenName.$eq %>">
                                    </div>
                                    <div class="form-group">
                                        <label for="customer[ids]">Email</label>
                                        <input type="text" class="form-control" id="customer[email][$eq]"
                                            name="customer[email][$eq]" placeholder="cinerino@example.com(完全一致)"
                                            value="<%= searchConditions.customer.email.$eq %>">
                                    </div>
                                    <div class="form-group">
                                        <label for="customer[ids]">Telephone</label>
                                        <input type="text" class="form-control" id="customer[telephone][$eq]"
                                            name="customer[telephone][$eq]" placeholder="+819012345678(完全一致)"
                                            value="<%= searchConditions.customer.telephone.$eq %>">
                                    </div>

                                    <div class="form-group">
                                        <label>アプリケーション</label>
                                        <select multiple class="form-control" name="customer[userPoolClients][]"
                                            size="6">
                                            <% applications.forEach(function (application) { %>
                                            <% 
                                            var selected = false;
                                            if (searchConditions.customer !== undefined && searchConditions.customer.identifiers !== undefined) {
                                                selected = searchConditions.customer.identifiers.filter((identifier)=>identifier.name==='clientId'&& identifier.value===application.id).length > 0;
                                            }
                                            %>
                                            <option value="<%= application.id %>" <% if (selected) { %> selected
                                                <% } %>>
                                                <%= application.name %>
                                            </option>
                                            <% }) %>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="customer[identifiers]">ユーザー識別子</label>
                                        <input type="text" class="form-control" id="customer[identifiers]"
                                            name="customer[identifiers]" placeholder="username:cinerino"
                                            value="<%= (Array.isArray(searchConditions.customer.identifiers)) ? `${searchConditions.customer.identifiers[0].name}:${searchConditions.customer.identifiers[0].value}` : '' %>">
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>販売者</label>
                                        <select multiple class="form-control" name="seller[ids][]" size="6">
                                            <% sellers.forEach(function (seller) { %>
                                            <% 
                                            var selected = false;
                                            selected = Array.isArray(searchConditions.seller.ids) && searchConditions.seller.ids.indexOf(seller.id) >= 0;
                                            %>
                                            <option value="<%= seller.id %>" <% if (selected) { %> selected <% } %>>
                                                <%= seller.name.ja %>
                                            </option>
                                            <% }) %>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>決済方法</label>
                                        <select multiple class="form-control" name="paymentMethods[typeOfs][]" size="6">
                                            <% Object.values(PaymentMethodType).forEach(function (paymentMethod) { %>
                                            <%
                                            var selected = false;
                                            if (searchConditions.paymentMethods !== undefined && searchConditions.paymentMethods.typeOfs !== undefined) {
                                                selected = searchConditions.paymentMethods.typeOfs.indexOf(paymentMethod) >= 0;
                                            }
                                            %>
                                            <option value="<%= paymentMethod %>" <% if (selected) { %> selected <% } %>>
                                                <%= paymentMethod %>
                                            </option>
                                            <% }) %>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="paymentMethods[accountIds]">決済アカウントID</label>
                                        <input type="text" class="form-control" id="paymentMethods[accountIds]"
                                            name="paymentMethods[accountIds]" placeholder="************1111、口座番号、購入管理番号"
                                            value="<%= (Array.isArray(searchConditions.paymentMethods.accountIds)) ? searchConditions.paymentMethods.accountIds.join(',') : '' %>">
                                    </div>
                                    <div class="form-group">
                                        <label for="paymentMethods[paymentMethodIds]">決済ID</label>
                                        <input type="text" class="form-control" id="paymentMethods[paymentMethodIds]"
                                            name="paymentMethods[paymentMethodIds]"
                                            placeholder="GMOオーダーID、購入管理番号など(カンマ区切り)"
                                            value="<%= (Array.isArray(searchConditions.paymentMethods.paymentMethodIds)) ? searchConditions.paymentMethods.paymentMethodIds.join(',') : '' %>">
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="acceptedOffers[itemOffered][ids]">注文アイテムID</label>
                                        <input type="text" class="form-control" id="acceptedOffers[itemOffered][ids]"
                                            name="acceptedOffers[itemOffered][ids]" placeholder="アイテムID(予約IDなど)"
                                            value="<%= (Array.isArray(searchConditions.acceptedOffers.itemOffered.ids)) ? searchConditions.acceptedOffers.itemOffered.ids.join(',') : '' %>">
                                    </div>
                                    <div class="form-group">
                                        <label for="acceptedOffers[itemOffered][reservationNumbers]">予約番号</label>
                                        <input type="text" class="form-control"
                                            id="acceptedOffers[itemOffered][reservationNumbers]"
                                            name="acceptedOffers[itemOffered][reservationNumbers]" placeholder="予約番号"
                                            value="<%= (Array.isArray(searchConditions.acceptedOffers.itemOffered.reservationNumbers)) ? searchConditions.acceptedOffers.itemOffered.reservationNumbers.join(',') : '' %>">
                                    </div>
                                    <div class="form-group">
                                        <label for="acceptedOffers[itemOffered][reservationFor][ids]">予約イベントID</label>
                                        <input type="text" class="form-control"
                                            id="acceptedOffers[itemOffered][reservationFor][ids]"
                                            name="acceptedOffers[itemOffered][reservationFor][ids]"
                                            placeholder="予約イベントID"
                                            value="<%= (Array.isArray(searchConditions.acceptedOffers.itemOffered.reservationFor.ids)) ? searchConditions.acceptedOffers.itemOffered.reservationFor.ids.join(',') : '' %>">
                                    </div>
                                    <div class="form-group">
                                        <label for="acceptedOffers[itemOffered][reservationFor][name]">予約イベント名称</label>
                                        <input type="text" class="form-control"
                                            id="acceptedOffers[itemOffered][reservationFor][name]"
                                            name="acceptedOffers[itemOffered][reservationFor][name]"
                                            placeholder="予約イベント名称"
                                            value="<%= searchConditions.acceptedOffers.itemOffered.reservationFor.name %>">
                                    </div>
                                    <div class="form-group">
                                        <label>予約イベント開催期間</label>

                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control" name="reservationForInSessionRange"
                                                id="reservationForInSessionRange" value="<%= (searchConditions.acceptedOffers.itemOffered.reservationFor.inSessionFrom !== undefined)
                                                ? `${moment(searchConditions.acceptedOffers.itemOffered.reservationFor.inSessionFrom).format('YYYY-MM-DDTHH:mm:ssZ')} - ${moment(searchConditions.acceptedOffers.itemOffered.reservationFor.inSessionThrough).format('YYYY-MM-DDTHH:mm:ssZ')}`
                                                : '' %>">
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                    <div class="form-group">
                                        <label
                                            for="acceptedOffers[itemOffered][reservationFor][superEvent][ids]">予約イベントシリーズID</label>
                                        <input type="text" class="form-control"
                                            id="acceptedOffers[itemOffered][reservationFor][superEvent][ids]"
                                            name="acceptedOffers[itemOffered][reservationFor][superEvent][ids]"
                                            placeholder="予約イベントシリーズID"
                                            value="<%= (Array.isArray(searchConditions.acceptedOffers.itemOffered.reservationFor.superEvent.ids)) ? searchConditions.acceptedOffers.itemOffered.reservationFor.superEvent.ids.join(',') : '' %>">
                                    </div>

                                    <div class="form-group">
                                        <label
                                            for="acceptedOffers[itemOffered][reservationFor][superEvent][workPerformed][identifiers]">予約作品コード</label>
                                        <input type="text" class="form-control"
                                            id="acceptedOffers[itemOffered][reservationFor][superEvent][workPerformed][identifiers]"
                                            name="acceptedOffers[itemOffered][reservationFor][superEvent][workPerformed][identifiers]"
                                            placeholder="予約作品コード"
                                            value="<%= (Array.isArray(searchConditions.acceptedOffers.itemOffered.reservationFor.superEvent.workPerformed.identifiers)) ? searchConditions.acceptedOffers.itemOffered.reservationFor.superEvent.workPerformed.identifiers.join(',') : '' %>">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- /.card-body -->
                        <div class="card-footer">
                            <div class="btn-group float-right">
                                <button type="button" class="btn btn-info search">検索</button>
                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu" role="menu">
                                    <a class="dropdown-item search" href="#">検索</a>
                                    <a class="dropdown-item downloadCSV" href="#">CSVダウンロード</a>
                                    <a class="dropdown-item downloadJson" href="#">JSONダウンロード</a>
                                    <!-- <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a> -->
                                </div>
                            </div>
                            <!-- <button type="submit" class="btn btn-secondary float-right">検索</button> -->
                        </div>
                    </form>
                </div>
                <!-- /.card -->

            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Results</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive">
                        <table id="orders-table" class="table table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <th>Order Number
                                        <br><span class="text-muted">Confirmation Number</span>
                                        <br>Order Date
                                        <br>Date Returned
                                        <br>Order Status
                                    </th>
                                    <th>Customer</th>
                                    <th>Seller</th>
                                    <th>Price</th>
                                    <th>Payment Methods</th>
                                    <th>Returner</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Order Number
                                        <br><span class="text-muted">Confirmation Number</span>
                                        <br>Order Date
                                        <br>Date Returned
                                        <br>Order Status
                                    </th>
                                    <th>Customer</th>
                                    <th>Seller</th>
                                    <th>Price</th>
                                    <th>Payment Methods</th>
                                    <th>Returner</th>
                                </tr>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->

<div class="modal" id="modal-order" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- DataTables -->
<link rel="stylesheet" href="/node_modules/admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.css">

<script src="/js/orders/index.js"></script>