<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">注文検索</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="/projects/<%= req.project.id %>/home">Home</a>
                    </li>
                    <li class="breadcrumb-item active">注文検索</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-default">
                    <div class="card-header">
                        <!-- <h3 class="card-title">Quick Example</h3> -->
                        <div class="toolbar">
                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                            <a class="btn btn-default btn-sm search" href="#">
                                <i class="fa fa-redo"></i>&nbsp;&nbsp;更新</a>
                            <a class="btn btn-default btn-sm downloadCSV" href="#">
                                <i class="fa fa-download"></i>&nbsp;&nbsp;CSV</a>
                            <a class="btn btn-default btn-sm downloadJson" href="#">
                                <i class="fa fa-download"></i>&nbsp;&nbsp;JSON</a>
                        </div>
                    </div>
                    <!-- /.card-header -->

                    <div class="card-body">
                        <!-- form start -->
                        <form role="form" method="get" class="search">
                            <div class="form-row">
                                <div class="form-group col-md-1">
                                    <label for="confirmationNumbers">確認番号</label>
                                    <input type="text" class="form-control form-control-sm" id="confirmationNumbers"
                                        name="confirmationNumbers" placeholder="確認番号"
                                        value="<%= (Array.isArray(searchConditions.confirmationNumbers)) ? searchConditions.confirmationNumbers.join(',') : '' %>">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="orderNumbers">注文番号</label>
                                    <input type="text" class="form-control form-control-sm" id="orderNumbers"
                                        name="orderNumbers" placeholder="注文番号"
                                        value="<%= (Array.isArray(searchConditions.orderNumbers)) ? searchConditions.orderNumbers.join(',') : '' %>">
                                </div>
                                <div class="form-group col-md-1">
                                    <label>ステータス</label>
                                    <select class="form-control form-control-sm" name="orderStatus">
                                        <option value="">---</option>
                                        <% Object.values(OrderStatus).forEach(function (orderStatus) { %>
                                        <% 
                                        var selected = false;
                                        selected = Array.isArray(searchConditions.orderStatuses) && searchConditions.orderStatuses.indexOf(orderStatus) >= 0;
                                        %>
                                        <option value="<%= orderStatus %>" <% if (selected) { %> selected <% } %>>
                                            <%= orderStatus %>
                                        </option>
                                        <% }) %>
                                    </select>
                                </div>

                                <div class="form-group col-md-2">
                                    <label>アプリケーション</label>
                                    <select class="form-control form-control-sm" name="customer[userPoolClient]">
                                        <option value="">---</option>
                                        <% applications.forEach(function (application) { %>
                                        <% 
                                        var selected = false;
                                        if (searchConditions.customer !== undefined && Array.isArray(searchConditions.customer.identifiers)) {
                                            selected = searchConditions.customer.identifiers.some(
                                                (identifier) => identifier.name === 'clientId' && identifier.value === application.id
                                            );
                                        }
                                        %>
                                        <option value="<%= application.id %>" <% if (selected) { %> selected <% } %>>
                                            <%= application.name %>
                                        </option>
                                        <% }) %>
                                    </select>
                                </div>
                                <div class="form-group col-md-2">
                                    <label>販売者</label>
                                    <select class="form-control form-control-sm" name="seller[id]">
                                        <option value="">---</option>
                                        <% sellers.forEach(function (seller) { %>
                                        <% 
                                        var selected = false;
                                        selected = Array.isArray(searchConditions.seller.ids) && searchConditions.seller.ids.indexOf(seller.id) >= 0;
                                        %>
                                        <option value="<%= seller.id %>" <% if (selected) { %> selected <% } %>>
                                            <%= seller.name.ja %>
                                        </option>
                                        <% }) %>
                                    </select>
                                </div>
                                <div class="form-group col-md-1">
                                    <label>決済方法</label>
                                    <select class="form-control form-control-sm" name="paymentMethods[typeOf]">
                                        <option value="">---</option>
                                        <% Object.values(PaymentMethodType).forEach(function (paymentMethod) { %>
                                        <%
                                        var selected = false;
                                        if (searchConditions.paymentMethods !== undefined && searchConditions.paymentMethods.typeOfs !== undefined) {
                                            selected = searchConditions.paymentMethods.typeOfs.indexOf(paymentMethod) >= 0;
                                        }
                                        %>
                                        <option value="<%= paymentMethod %>" <% if (selected) { %> selected <% } %>>
                                            <%= paymentMethod %>
                                        </option>
                                        <% }) %>

                                        <% paymentCards.forEach(function (paymentCard) { %>
                                        <%
                                            var selected = false;
                                            if (searchConditions.paymentMethods !== undefined && searchConditions.paymentMethods.typeOfs !== undefined) {
                                                selected = searchConditions.paymentMethods.typeOfs.indexOf(paymentCard.serviceOutput.typeOf) >= 0;
                                            }
                                            %>
                                        <option value="<%= paymentCard.serviceOutput.typeOf %>" <% if (selected) { %>
                                            selected <% } %>>
                                            <%= paymentCard.name.ja %>
                                        </option>
                                        <% }) %>
                                    </select>
                                </div>

                                <div class="form-group col-md-2">
                                    <label for="acceptedOffers[itemOffered][typeOf]">アイテムタイプ</label>
                                    <input type="text" class="form-control form-control-sm"
                                        id="acceptedOffers[itemOffered][typeOf]"
                                        name="acceptedOffers[itemOffered][typeOf]" placeholder=""
                                        value="<%= (Array.isArray(searchConditions.acceptedOffers.itemOffered.typeOf.$in)) ? searchConditions.acceptedOffers.itemOffered.typeOf.$in.join(',') : '' %>">
                                </div>

                            </div>

                            <div class="text-center"><a class="" data-toggle="collapse" href=".advanced" role="button"
                                    aria-expanded="false"><i class="fa fa-angle-double-down"></i></a>
                            </div>

                            <div class="advanced collapse">
                                <div class="form-row">
                                    <div class="form-group col-md-2">
                                        <label>注文日時</label>

                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control form-control-sm"
                                                name="orderDateRange" id="orderDateRange"
                                                value="<%= (searchConditions.orderDateFrom !== undefined) ? `${moment(searchConditions.orderDateFrom).format('YYYY-MM-DDTHH:mm:ssZ')} - ${moment(searchConditions.orderDateThrough).format('YYYY-MM-DDTHH:mm:ssZ')}` : '' %>">
                                        </div>
                                        <!-- /.input group -->
                                    </div>

                                    <div class="form-group col-md-2">
                                        <label for="identifier[$in]">注文識別子</label>
                                        <input type="text" class="form-control form-control-sm" id="identifier[$in]"
                                            name="identifier[$in]" placeholder="confirmationPass:cinerino"
                                            value="<%= (Array.isArray(searchConditions.identifier.$in)) ? `${searchConditions.identifier.$in[0].name}:${searchConditions.identifier.$in[0].value}` : '' %>">
                                    </div>

                                    <div class="form-group col-md-2">
                                        <label for="price[$gte]">注文金額</label>

                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control form-control-sm" id="price[$gte]"
                                                name="price[$gte]" placeholder="1000"
                                                value="<%= (searchConditions.price.$gte !== undefined) ? searchConditions.price.$gte : '' %>">
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    円以上
                                                </span>
                                            </div>
                                            <input type="text" class="form-control form-control-sm" id="price[$lte]"
                                                name="price[$lte]" placeholder="2000"
                                                value="<%= (searchConditions.price.$lte !== undefined) ? searchConditions.price.$lte : '' %>">
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    円以下
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-2">
                                        <label for="paymentMethods[accountIds]">決済アカウントID</label>
                                        <input type="text" class="form-control form-control-sm"
                                            id="paymentMethods[accountIds]" name="paymentMethods[accountIds]"
                                            placeholder="************1111、口座番号、購入管理番号"
                                            value="<%= (Array.isArray(searchConditions.paymentMethods.accountIds)) ? searchConditions.paymentMethods.accountIds.join(',') : '' %>">
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="paymentMethods[paymentMethodIds]">決済ID</label>
                                        <input type="text" class="form-control form-control-sm"
                                            id="paymentMethods[paymentMethodIds]"
                                            name="paymentMethods[paymentMethodIds]" placeholder=""
                                            value="<%= (Array.isArray(searchConditions.paymentMethods.paymentMethodIds)) ? searchConditions.paymentMethods.paymentMethodIds.join(',') : '' %>">
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-2">
                                        <label for="acceptedOffers[itemOffered][ids]">アイテムID</label>
                                        <input type="text" class="form-control form-control-sm"
                                            id="acceptedOffers[itemOffered][ids]"
                                            name="acceptedOffers[itemOffered][ids]" placeholder="アイテムID(予約IDなど)"
                                            value="<%= (Array.isArray(searchConditions.acceptedOffers.itemOffered.ids)) ? searchConditions.acceptedOffers.itemOffered.ids.join(',') : '' %>">
                                    </div>

                                    <div class="form-group col-md-2">
                                        <label for="acceptedOffers[itemOffered][identifier]">アイテム識別子</label>
                                        <input type="text" class="form-control form-control-sm"
                                            id="acceptedOffers[itemOffered][identifier]"
                                            name="acceptedOffers[itemOffered][identifier]" placeholder=""
                                            value="<%= (Array.isArray(searchConditions.acceptedOffers.itemOffered.identifier.$in)) ? searchConditions.acceptedOffers.itemOffered.identifier.$in.join(',') : '' %>">
                                    </div>

                                    <div class="form-group col-md-2">
                                        <label for="acceptedOffers[itemOffered][issuedThrough][id]">アイテム発行サービスID</label>
                                        <input type="text" class="form-control form-control-sm"
                                            id="acceptedOffers[itemOffered][issuedThrough][id]"
                                            name="acceptedOffers[itemOffered][issuedThrough][id]" placeholder=""
                                            value="<%= (Array.isArray(searchConditions.acceptedOffers.itemOffered.issuedThrough.id.$in)) ? searchConditions.acceptedOffers.itemOffered.issuedThrough.id.$in.join(',') : '' %>">
                                    </div>

                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-2">
                                        <label for="customer[membershipNumbers]">Username</label>
                                        <input type="text" class="form-control form-control-sm"
                                            id="customer[membershipNumbers]" name="customer[membershipNumbers]"
                                            placeholder="username1234"
                                            value="<%= (Array.isArray(searchConditions.customer.memberOf.membershipNumber.$in)) ? searchConditions.customer.memberOf.membershipNumber.$in.join(',') : '' %>">
                                    </div>
                                    <div class="form-group">
                                        <label for="customer[ids]">User ID</label>
                                        <input type="text" class="form-control form-control-sm" id="customer[ids]"
                                            name="customer[ids]" placeholder="Customer ID"
                                            value="<%= (Array.isArray(searchConditions.customer.ids)) ? searchConditions.customer.ids.join(',') : '' %>">
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="customer[familyName][$eq]">Family Name</label>
                                        <input type="text" class="form-control form-control-sm"
                                            id="customer[familyName][$eq]" name="customer[familyName][$eq]"
                                            placeholder="もーしょん(完全一致)"
                                            value="<%= searchConditions.customer.familyName.$eq %>">
                                        <input type="text" class="form-control form-control-sm"
                                            id="customer[familyName][$regex]" name="customer[familyName][$regex]"
                                            placeholder="^もーしょん(正規表現)"
                                            value="<%= searchConditions.customer.familyName.$regex %>">
                                    </div>

                                    <div class="form-group col-md-2">
                                        <label for="customer[givenName][$eq]">Given Name</label>
                                        <input type="text" class="form-control form-control-sm"
                                            id="customer[givenName][$eq]" name="customer[givenName][$eq]"
                                            placeholder="たろう(完全一致)"
                                            value="<%= searchConditions.customer.givenName.$eq %>">
                                        <input type="text" class="form-control form-control-sm"
                                            id="customer[givenName][$regex]" name="customer[givenName][$regex]"
                                            placeholder="^たろう(正規表現)"
                                            value="<%= searchConditions.customer.givenName.$regex %>">
                                    </div>

                                    <div class="form-group col-md-2">
                                        <label for="customer[email][$eq]">Email</label>
                                        <input type="text" class="form-control form-control-sm"
                                            id="customer[email][$eq]" name="customer[email][$eq]"
                                            placeholder="cinerino@example.com(完全一致)"
                                            value="<%= searchConditions.customer.email.$eq %>">
                                        <input type="text" class="form-control form-control-sm"
                                            id="customer[email][$regex]" name="customer[email][$regex]"
                                            placeholder="^cinerino(正規表現)"
                                            value="<%= searchConditions.customer.email.$regex %>">
                                    </div>

                                    <div class="form-group col-md-2">
                                        <label for="customer[telephone][$eq]">Telephone</label>
                                        <input type="text" class="form-control form-control-sm"
                                            id="customer[telephone][$eq]" name="customer[telephone][$eq]"
                                            placeholder="+819012345678(完全一致)"
                                            value="<%= searchConditions.customer.telephone.$eq %>">
                                        <input type="text" class="form-control form-control-sm"
                                            id="customer[telephone][$regex]" name="customer[telephone][$regex]"
                                            placeholder="^\+81901234(正規表現)"
                                            value="<%= searchConditions.customer.telephone.$regex %>">
                                    </div>

                                    <div class="form-group col-md-2">
                                        <%
                                        let customerIdentifiers = [];
                                        if ((Array.isArray(searchConditions.customer.identifiers))) {
                                            customerIdentifiers = searchConditions.customer.identifiers.filter((p) => p.name !== 'clientId');
                                        }
                                        %>
                                        <label for="customer[identifiers]">ユーザー識別子</label>
                                        <input type="text" class="form-control form-control-sm"
                                            id="customer[identifiers]" name="customer[identifiers]"
                                            placeholder="username:cinerino"
                                            value="<%= (customerIdentifiers.length > 0) ? `${customerIdentifiers[0].name}:${customerIdentifiers[0].value}` : '' %>">
                                    </div>

                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-2">
                                        <label for="acceptedOffers[itemOffered][reservationNumbers]">予約番号</label>
                                        <input type="text" class="form-control form-control-sm"
                                            id="acceptedOffers[itemOffered][reservationNumbers]"
                                            name="acceptedOffers[itemOffered][reservationNumbers]" placeholder="予約番号"
                                            value="<%= (Array.isArray(searchConditions.acceptedOffers.itemOffered.reservationNumbers)) ? searchConditions.acceptedOffers.itemOffered.reservationNumbers.join(',') : '' %>">
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="acceptedOffers[itemOffered][reservationFor][ids]">予約イベントID</label>
                                        <input type="text" class="form-control form-control-sm"
                                            id="acceptedOffers[itemOffered][reservationFor][ids]"
                                            name="acceptedOffers[itemOffered][reservationFor][ids]"
                                            placeholder="予約イベントID"
                                            value="<%= (Array.isArray(searchConditions.acceptedOffers.itemOffered.reservationFor.ids)) ? searchConditions.acceptedOffers.itemOffered.reservationFor.ids.join(',') : '' %>">
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="acceptedOffers[itemOffered][reservationFor][name]">予約イベント名称</label>
                                        <input type="text" class="form-control form-control-sm"
                                            id="acceptedOffers[itemOffered][reservationFor][name]"
                                            name="acceptedOffers[itemOffered][reservationFor][name]"
                                            placeholder="予約イベント名称"
                                            value="<%= searchConditions.acceptedOffers.itemOffered.reservationFor.name %>">
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label>予約イベント開催期間</label>

                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control form-control-sm"
                                                name="reservationForInSessionRange" id="reservationForInSessionRange"
                                                value="<%= (searchConditions.acceptedOffers.itemOffered.reservationFor.startFrom !== undefined)
                                                ? `${moment(searchConditions.acceptedOffers.itemOffered.reservationFor.startFrom).format('YYYY-MM-DDTHH:mm:ssZ')} - ${moment(searchConditions.acceptedOffers.itemOffered.reservationFor.startThrough).format('YYYY-MM-DDTHH:mm:ssZ')}`
                                                : '' %>">
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label
                                            for="acceptedOffers[itemOffered][reservationFor][superEvent][ids]">予約イベントシリーズID</label>
                                        <input type="text" class="form-control form-control-sm"
                                            id="acceptedOffers[itemOffered][reservationFor][superEvent][ids]"
                                            name="acceptedOffers[itemOffered][reservationFor][superEvent][ids]"
                                            placeholder="予約イベントシリーズID"
                                            value="<%= (Array.isArray(searchConditions.acceptedOffers.itemOffered.reservationFor.superEvent.ids)) ? searchConditions.acceptedOffers.itemOffered.reservationFor.superEvent.ids.join(',') : '' %>">
                                    </div>

                                    <div class="form-group col-md-2">
                                        <label
                                            for="acceptedOffers[itemOffered][reservationFor][superEvent][workPerformed][identifiers]">予約作品コード</label>
                                        <input type="text" class="form-control form-control-sm"
                                            id="acceptedOffers[itemOffered][reservationFor][superEvent][workPerformed][identifiers]"
                                            name="acceptedOffers[itemOffered][reservationFor][superEvent][workPerformed][identifiers]"
                                            placeholder="予約作品コード"
                                            value="<%= (Array.isArray(searchConditions.acceptedOffers.itemOffered.reservationFor.superEvent.workPerformed.identifiers)) ? searchConditions.acceptedOffers.itemOffered.reservationFor.superEvent.workPerformed.identifiers.join(',') : '' %>">
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="table-responsive">
                            <table id="orders-table" class="table table-sm table-hover dataTable">
                                <thead>
                                    <tr>
                                        <th>注文番号</th>
                                        <th>識別子</th>
                                        <th>確認番号</th>
                                        <th>ステータス</th>
                                        <th>注文日時</th>
                                        <th>返品日時</th>
                                        <th>カスタマー</th>
                                        <th>販売者</th>
                                        <th>金額</th>
                                        <th>アイテム</th>
                                        <th>決済方法</th>
                                        <th>返品者</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->

<div class="modal" id="modal-order" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-sm" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-createReport" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="reportName">レポート名称</label>
                    <input class="form-control form-control-sm" type="text" name="reportName" placeholder="レポート名称">
                </div>
                <div class="form-group">
                    <label for="recipientEmail">通知先メールアドレス</label>
                    <input class="form-control form-control-sm" type="text" name="recipientEmail"
                        placeholder="通知先メールアドレス">
                </div>
                <input type="hidden" name="format">
                <input type="hidden" name="orderDateRange">
                <input type="hidden" name="reservationForInSessionRange">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
                <button type="button" class="btn btn-primary submit" data-dismiss="modal">作成する</button>
            </div>
        </div>
    </div>
</div>

<!-- DataTables -->
<link rel="stylesheet" href="/node_modules/admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.css">

<script src="/js/orders/index.js"></script>