<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">タスク検索</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="/projects/<%= req.project.id %>/home">Home</a>
                    </li>
                    <li class="breadcrumb-item active">タスク検索</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-default">
                    <div class="card-header">
                        <!-- <h3 class="card-title">Quick Example</h3> -->
                        <div class="toolbar">
                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                            <a class="btn btn-default btn-sm search" href="#">
                                <i class="fa fa-redo"></i>&nbsp;&nbsp;更新</a>
                        </div>
                    </div>
                    <!-- /.card-header -->

                    <div class="card-body">
                        <!-- form start -->
                        <form role="form" method="get" class="search">
                            <div class="form-row">
                                <div class="form-group col-md-2">
                                    <label>実行日時</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control form-control-sm" name="runsRange"
                                            id="runsRange"
                                            value="<%= moment(searchConditions.runsFrom).format('YYYY-MM-DDTHH:mm:ssZ') %> - <%= moment(searchConditions.runsThrough).format('YYYY-MM-DDTHH:mm:ssZ') %>">
                                    </div>
                                    <!-- /.input group -->
                                </div>
                                <div class="form-group col-md-2">
                                    <label>ステータス</label>
                                    <select multiple class="form-control form-control-sm" name="statuses[]">
                                        <% taskStatusChoices.forEach(function (taskStatus) { %>
                                        <% var selected = (Array.isArray(searchConditions.statuses)) && searchConditions.statuses.indexOf(taskStatus) >= 0; %>
                                        <option value="<%= taskStatus %>" <% if (selected) { %> selected <% } %>>
                                            <%= taskStatus %>
                                        </option>
                                        <% }) %>
                                    </select>
                                </div>

                                <div class="form-group col-md-2">
                                    <label>タスク名</label>
                                    <select class="form-control form-control-sm" name="name">
                                        <option value="">---</option>
                                        <% taskNameChoices.forEach(function (taskName) { %>
                                        <% var selected = searchConditions.name === taskName %>
                                        <option value="<%= taskName %>" <% if (selected) { %> selected <% } %>>
                                            <%= taskName %>
                                        </option>
                                        <% }) %>
                                    </select>
                                </div>

                                <div class="form-group col-md-2">
                                    <label for="data[agent][id]">data.agent.id</label>
                                    <input type="text" class="form-control form-control-sm" id="data[agent][id]"
                                        name="data[agent][id]" placeholder="data.agent.id" value="">
                                </div>
                            </div>
                        </form>

                        <div class="table-responsive">
                            <table id="tasks-table" class="table table-sm table-hover dataTable">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Status</th>
                                        <th>残試行回数</th>
                                        <th>試行回数</th>
                                        <th>実行日時</th>
                                        <th>最終試行日時</th>
                                        <th>Data</th>
                                        <th>実行結果</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->

<div class="modal" id="modal-detail" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- DataTables -->
<link rel="stylesheet" href="/node_modules/admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.css">

<script src="/js/tasks/index.js"></script>