<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">アプリケーション
                    <%= application.id %> の詳細
                </h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="/projects/<%= req.project.id %>/home">Home</a>
                    </li>
                    <li class="breadcrumb-item active">アプリケーション詳細</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">

                <!-- Profile Image -->
                <div class="card card-dark card-outline">
                    <div class="card-body box-profile">
                        <!-- <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle" src="../../dist/img/user4-128x128.jpg"
                                alt="User profile picture">
                        </div> -->

                        <h3 class="profile-username text-center">
                            <%= member.member.name %>
                        </h3>

                        <p class="text-muted text-center">
                            <%= member.member.id %>
                        </p>

                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>Orders</b> <a class="float-right" id="orderCount">searching...</a>
                            </li>
                        </ul>

                        <!-- <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a> -->
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

                <!-- About Me Box -->
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">About</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <strong><i class="fa fa-info mr-1"></i> サポートIDプロバイダー</strong>

                        <p class="text-muted">
                            <%- (userPoolClient !== undefined && Array.isArray(userPoolClient.SupportedIdentityProviders)) ? userPoolClient.SupportedIdentityProviders.join('<br>') : '' %>
                        </p>

                        <hr>

                        <strong><i class="fa fa-info mr-1"></i> 許可OAuthフロー</strong>

                        <p class="text-muted">
                            <%- (userPoolClient !== undefined && Array.isArray(userPoolClient.AllowedOAuthFlows)) ? userPoolClient.AllowedOAuthFlows.join('<br>') : '' %>
                        </p>

                        <hr>

                        <strong><i class="fa fa-info mr-1"></i> 許可OAuthスコープ</strong>

                        <p class="text-muted">
                            <%- (userPoolClient !== undefined && Array.isArray(userPoolClient.AllowedOAuthScopes)) ? userPoolClient.AllowedOAuthScopes.join('<br>') : '' %>
                        </p>

                        <hr>

                        <strong><i class="fa fa-user mr-1"></i> ユーザープール</strong>

                        <p class="text-muted">
                            <a target="_blank"
                                href="/projects/<%= req.project.id %>/userPools/<%= (userPoolClient !== undefined) ? userPoolClient.UserPoolId : '' %>">
                                <%= (userPoolClient !== undefined) ? userPoolClient.UserPoolId : '' %></a>
                        </p>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link active" href="#orders" data-toggle="tab">注文履歴</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#jsonViewer" data-toggle="tab">JSON
                                    Viewer</a></li>
                            <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Settings</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#others" data-toggle="tab">その他の操作</a></li>
                        </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="active tab-pane" id="orders">
                                <div class="table-responsive">
                                    <table class="table m-0">
                                        <thead>
                                            <tr>
                                                <th>Order Number</th>
                                                <th>Order Date</th>
                                                <th>Item</th>
                                                <th>Payment Method</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>

                            <div class="tab-pane" id="jsonViewer">
                                <h4>Member</h4>
                                <div class="form-group">
                                    <textarea class="form-control person" rows="20" placeholder=""
                                        disabled=""><%= JSON.stringify(member, null, '\t') %></textarea>
                                </div>

                                <h4>User Pool Client</h4>
                                <div class="form-group">
                                    <textarea class="form-control" rows="20" placeholder=""
                                        disabled=""><%= JSON.stringify(userPoolClient, null, '\t') %></textarea>
                                </div>
                            </div>
                            <!-- /.tab-pane -->

                            <div class="tab-pane" id="settings">
                                <!-- form start -->
                                <form role="form" method="post">
                                    <div class="card-body">
                                        <%- include('../iam/members/form', {iamMember: member, roles: roles}) %>
                                    </div>
                                    <!-- /.card-body -->

                                    <div class="card-footer">
                                        <a href="#" class="btn btn-primary" data-toggle="modal"
                                            data-target="#modal-update">更新</a>
                                    </div>
                                </form>
                            </div>
                            <!-- /.tab-pane -->

                            <div class="tab-pane" id="others">
                                <!-- general form elements -->
                                <div class="card card-dark">
                                    <!-- <div class="card-header">
                                        <h3 class="card-title">その他の操作</h3>
                                    </div> -->
                                    <!-- /.card-header -->

                                    <div class="card-body">
                                        <button type="button" class="delete btn btn-danger">削除する</button>
                                    </div>
                                    <!-- /.card-body -->
                                    <!-- <div class="card-footer">
                                        </div> -->
                                </div>
                                <!-- /.card -->
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<!-- Modal -->
<div class="modal fade" id="modal-update" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><%= member.member.name %>のロールを更新しますか？</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><%= member.member.name %>のロールを更新するには、ID「<b><%= member.member.id %></b>」を入力してください。
                </p>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="confirmUpdate" placeholder="アプリケーションID"
                            data-expected="<%= member.member.id %>">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
                <!-- <button type="submit" class="btn btn-primary">更新</button> -->
                <button type="button" class="btn btn-primary disabled update" disabled>更新する</button>
            </div>
        </div>
    </div>
</div>

<!-- DataTables -->
<link rel="stylesheet" href="/node_modules/admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.css">

<!-- ChartJS 1.0.1 -->
<script src="/node_modules/admin-lte/plugins/chart.js/Chart.min.js"></script>
<script src="/js/applications/show.js"></script>