<div class="form-row">
    <div class="form-group col-md-4">
        <label for="id">ID</label>
        <input type="text" class="form-control" id="id" name="id" placeholder="ID"
            value="<%= (project !== undefined) ?  project.id : '' %>">
    </div>

    <div class="form-group col-md-4">
        <label for="name">名称</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="名称"
            value="<%= (project !== undefined) ?  project.name : '' %>">
    </div>

    <div class="form-group col-md-4">
        <label for="logo">ロゴ</label>
        <input type="text" class="form-control" id="logo" name="logo" placeholder="https://example.com"
            value="<%= (project !== undefined) ?  project.logo : '' %>">
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-4">
        <label for="parentOrganization[typeOf]">親組織タイプ</label>
        <input type="text" class="form-control" id="parentOrganization[typeOf]" name="parentOrganization[typeOf]"
            value="<%= (project !== undefined && project.parentOrganization !== undefined) ?  project.parentOrganization.typeOf : '' %>">
    </div>

    <div class="form-group col-md-4">
        <label for="parentOrganization[name][ja]">親組織日本語名称</label>
        <input type="text" class="form-control" id="parentOrganization[name][ja]" name="parentOrganization[name][ja]"
            value="<%= (project !== undefined && project.parentOrganization !== undefined) ?  project.parentOrganization.name.ja : '' %>">
    </div>

    <div class="form-group col-md-4">
        <label for="parentOrganization[name][en]">親組織英語名称</label>
        <input type="text" class="form-control" id="parentOrganization[name][en]" name="parentOrganization[name][en]"
            value="<%= (project !== undefined && project.parentOrganization !== undefined) ?  project.parentOrganization.name.en : '' %>">
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-4">
        <label for="settings[cognito][customerUserPool][id]">Cognito カスタマーユーザープールID</label>
        <input type="text" class="form-control" id="settings[cognito][customerUserPool][id]"
            name="settings[cognito][customerUserPool][id]"
            value="<%= (project !== undefined && project.settings !== undefined && project.settings.cognito !== undefined) ?  project.settings.cognito.customerUserPool.id : '' %>">
    </div>
</div>

<div class="form-group">
    <label for="settings[sendgridApiKey]">Sendgrid API Key</label>
    <input type="text" class="form-control" id="settings[sendgridApiKey]" name="settings[sendgridApiKey]"
        value="<%= (project !== undefined && project.settings !== undefined) ? project.settings.sendgridApiKey : '' %>">
</div>

<div class="form-group">
    <label for="settings[transactionWebhookUrl]">取引ウェブフックURL</label>
    <input type="text" class="form-control" id="settings[transactionWebhookUrl]" name="settings[transactionWebhookUrl]"
        placeholder="https://example.com"
        value="<%= (project !== undefined && project.settings !== undefined) ? project.settings.transactionWebhookUrl : '' %>">
</div>