<div class="form-row">
    <div class="form-group col-md-4">
        <label for="id">ID</label>
        <input type="text" class="form-control" id="id" name="id" placeholder="ID"
            value="<%= (project !== undefined) ?  project.id : '' %>">
    </div>

    <div class="form-group col-md-4">
        <label for="name">名称</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="名称"
            value="<%= (project !== undefined) ?  project.name : '' %>">
    </div>

    <div class="form-group col-md-4">
        <label for="logo">ロゴ</label>
        <input type="text" class="form-control" id="logo" name="logo" placeholder="https://example.com"
            value="<%= (project !== undefined) ?  project.logo : '' %>">
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-4">
        <label for="parentOrganization[typeOf]">親組織タイプ</label>
        <input type="text" class="form-control" id="parentOrganization[typeOf]" name="parentOrganization[typeOf]"
            value="<%= (project !== undefined && project.parentOrganization !== undefined) ?  project.parentOrganization.typeOf : '' %>">
    </div>

    <div class="form-group col-md-4">
        <label for="parentOrganization[name][ja]">親組織日本語名称</label>
        <input type="text" class="form-control" id="parentOrganization[name][ja]" name="parentOrganization[name][ja]"
            value="<%= (project !== undefined && project.parentOrganization !== undefined) ?  project.parentOrganization.name.ja : '' %>">
    </div>

    <div class="form-group col-md-4">
        <label for="parentOrganization[name][en]">親組織英語名称</label>
        <input type="text" class="form-control" id="parentOrganization[name][en]" name="parentOrganization[name][en]"
            value="<%= (project !== undefined && project.parentOrganization !== undefined) ?  project.parentOrganization.name.en : '' %>">
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-4">
        <label for="settings[cognito][customerUserPool][id]">Cognito カスタマーユーザープールID</label>
        <input type="text" class="form-control" id="settings[cognito][customerUserPool][id]"
            name="settings[cognito][customerUserPool][id]"
            value="<%= (project !== undefined && project.settings !== undefined && project.settings.cognito !== undefined) ?  project.settings.cognito.customerUserPool.id : '' %>">
    </div>
</div>

<div class="form-group">
    <label for="settings[sendgridApiKey]">Sendgrid API Key</label>
    <input type="text" class="form-control" id="settings[sendgridApiKey]" name="settings[sendgridApiKey]"
        value="<%= (project !== undefined && project.settings !== undefined) ? project.settings.sendgridApiKey : '' %>">
</div>

<div class="form-group">
    <label for="settings[transactionWebhookUrl]">取引ウェブフックURL</label>
    <input type="text" class="form-control" id="settings[transactionWebhookUrl]" name="settings[transactionWebhookUrl]"
        placeholder="https://example.com"
        value="<%= (project !== undefined && project.settings !== undefined) ? project.settings.transactionWebhookUrl : '' %>">
</div>

<%
let informOrderName1 = '';
let informOrderUrl1 = '';
let informOrderName2 = '';
let informOrderUrl2 = '';
if (project !== undefined && project.settings !== undefined && project.settings.onOrderStatusChanged !== undefined
&& Array.isArray(project.settings.onOrderStatusChanged.informOrder)) {
    if (project.settings.onOrderStatusChanged.informOrder.length > 0) {
        informOrderName1 = project.settings.onOrderStatusChanged.informOrder[0].recipient.name;
        informOrderUrl1 = project.settings.onOrderStatusChanged.informOrder[0].recipient.url;
    
        if (project.settings.onOrderStatusChanged.informOrder.length > 1) {
            informOrderName2 = project.settings.onOrderStatusChanged.informOrder[1].recipient.name;
            informOrderUrl2 = project.settings.onOrderStatusChanged.informOrder[1].recipient.url;
        }
    }
}
%>

<div class="form-row">
    <div class="form-group col-md-3">
        <label for="settings[onOrderStatusChanged][informOrder][0][name]">注文ウェブフック名称</label>
        <input type="text" class="form-control" id="settings[onOrderStatusChanged][informOrder][0][name]"
            name="settings[onOrderStatusChanged][informOrder][0][name]" value="<%= informOrderName1 %>">
    </div>

    <div class="form-group col-md-9">
        <label for="settings[onOrderStatusChanged][informOrder][0][url]">注文ウェブフックURL</label>
        <input type="text" class="form-control" id="settings[onOrderStatusChanged][informOrder][0][url]"
            name="settings[onOrderStatusChanged][informOrder][0][url]" value="<%= informOrderUrl1 %>">
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-3">
        <label for="settings[onOrderStatusChanged][informOrder][1][name]">注文ウェブフック名称2</label>
        <input type="text" class="form-control" id="settings[onOrderStatusChanged][informOrder][1][name]"
            name="settings[onOrderStatusChanged][informOrder][1][name]" value="<%= informOrderName2 %>">
    </div>

    <div class="form-group col-md-9">
        <label for="settings[onOrderStatusChanged][informOrder][1][url]">注文ウェブフックURL2</label>
        <input type="text" class="form-control" id="settings[onOrderStatusChanged][informOrder][1][url]"
            name="settings[onOrderStatusChanged][informOrder][1][url]" value="<%= informOrderUrl2 %>">
    </div>
</div>