<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">アクション検索</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="breadcrumb-item active">アクション検索</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-default">
                    <!-- <div class="card-header">
                        <h3 class="card-title">Select2</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div> -->
                    <form role="form" method="get">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Action Type</label>
                                        <select class="form-control" name="typeOf" size="4">
                                            <% Object.values(ActionType).forEach(function (actionType) { %>
                                            <%
                                            var selected = searchConditions.typeOf === actionType;
                                            %>
                                            <option value="<%= actionType %>" <% if (selected) { %> selected <% } %>>
                                                <%= actionType %>
                                            </option>
                                            <% }) %>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>Start Date</label>

                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control" name="startRange" id="startRange"
                                                value="<%= moment(searchConditions.startFrom).format('YYYY-MM-DDTHH:mm:ssZ') %> - <%= moment(searchConditions.startThrough).format('YYYY-MM-DDTHH:mm:ssZ') %>">
                                        </div>
                                        <!-- /.input group -->
                                    </div>

                                    <div class="form-group">
                                        <label>Action Status Type</label>
                                        <select multiple class="form-control" name="actionStatusTypes[]" size="6">
                                            <% Object.values(ActionStatusType).forEach(function (statusType) { %>
                                            <%
                                            var selected = false;
                                            if (searchConditions.actionStatusTypes !== undefined) {
                                                selected = searchConditions.actionStatusTypes.indexOf(statusType) >= 0;
                                            }
                                            %>
                                            <option value="<%= statusType %>" <% if (selected) { %> selected <% } %>>
                                                <%= statusType %>
                                            </option>
                                            <% }) %>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="object[typeOf][$in]">Object Type</label>
                                        <input type="text" class="form-control" id="object[typeOf][$in]"
                                            name="object[typeOf][$in]" placeholder="Object Type"
                                            value="<%= (searchConditions.object !== undefined && searchConditions.object.typeOf !== undefined && Array.isArray(searchConditions.object.typeOf.$in)) ? searchConditions.object.typeOf.$in.join(',') : '' %>">
                                    </div>

                                    <div class="form-group">
                                        <label for="object[id][$in]">Object ID</label>
                                        <input type="text" class="form-control" id="object[id][$in]"
                                            name="object[id][$in]" placeholder="Object ID"
                                            value="<%= (searchConditions.object !== undefined && searchConditions.object.id !== undefined && Array.isArray(searchConditions.object.id.$in)) ? searchConditions.object.id.$in.join(',') : '' %>">
                                    </div>

                                    <div class="form-group">
                                        <label for="object[orderNumber][$in]">Object Order Number</label>
                                        <input type="text" class="form-control" id="object[orderNumber][$in]"
                                            name="object[orderNumber][$in]" placeholder="Object Order Number"
                                            value="<%= (searchConditions.object !== undefined && searchConditions.object.orderNumber !== undefined && Array.isArray(searchConditions.object.orderNumber.$in)) ? searchConditions.object.orderNumber.$in.join(',') : '' %>">
                                    </div>

                                    <div class="form-group">
                                        <label for="object[paymentMethod][paymentMethodId][$in]">Object Payment Method
                                            ID</label>
                                        <input type="text" class="form-control"
                                            id="object[paymentMethod][paymentMethodId][$in]"
                                            name="object[paymentMethod][paymentMethodId][$in]"
                                            placeholder="Object Payment Method ID"
                                            value="<%= (searchConditions.object !== undefined && searchConditions.object.paymentMethod !== undefined && searchConditions.object.paymentMethod.paymentMethodId !== undefined && Array.isArray(searchConditions.object.paymentMethod.paymentMethodId.$in)) ? searchConditions.object.paymentMethod.paymentMethodId.$in.join(',') : '' %>">
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="purpose[typeOf][$in]">Purpose Type</label>
                                        <input type="text" class="form-control" id="purpose[typeOf][$in]"
                                            name="purpose[typeOf][$in]" placeholder="Purpose Type"
                                            value="<%= (searchConditions.purpose !== undefined && searchConditions.purpose.typeOf !== undefined && Array.isArray(searchConditions.purpose.typeOf.$in)) ? searchConditions.purpose.typeOf.$in.join(',') : '' %>">
                                    </div>

                                    <div class="form-group">
                                        <label for="purpose[id][$in]">Purpose ID</label>
                                        <input type="text" class="form-control" id="purpose[id][$in]"
                                            name="purpose[id][$in]" placeholder="Purpose ID"
                                            value="<%= (searchConditions.purpose !== undefined && searchConditions.purpose.id !== undefined && Array.isArray(searchConditions.purpose.id.$in)) ? searchConditions.purpose.id.$in.join(',') : '' %>">
                                    </div>

                                    <div class="form-group">
                                        <label for="purpose[orderNumber][$in]">Purpose Order Number</label>
                                        <input type="text" class="form-control" id="purpose[orderNumber][$in]"
                                            name="purpose[orderNumber][$in]" placeholder="Purpose Order Number"
                                            value="<%= (searchConditions.purpose !== undefined && searchConditions.purpose.orderNumber !== undefined && Array.isArray(searchConditions.purpose.orderNumber.$in)) ? searchConditions.purpose.orderNumber.$in.join(',') : '' %>">
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="result[typeOf][$in]">Result Type</label>
                                        <input type="text" class="form-control" id="result[typeOf][$in]"
                                            name="result[typeOf][$in]" placeholder="Result Type"
                                            value="<%= (searchConditions.result !== undefined && searchConditions.result.typeOf !== undefined && Array.isArray(searchConditions.result.typeOf.$in)) ? searchConditions.result.typeOf.$in.join(',') : '' %>">
                                    </div>

                                    <div class="form-group">
                                        <label for="result[id][$in]">Result ID</label>
                                        <input type="text" class="form-control" id="result[id][$in]"
                                            name="result[id][$in]" placeholder="Result ID"
                                            value="<%= (searchConditions.result !== undefined && searchConditions.result.id !== undefined && Array.isArray(searchConditions.result.id.$in)) ? searchConditions.result.id.$in.join(',') : '' %>">
                                    </div>

                                    <div class="form-group">
                                        <label for="result[orderNumber][$in]">Result Order Number</label>
                                        <input type="text" class="form-control" id="result[orderNumber][$in]"
                                            name="result[orderNumber][$in]" placeholder="Result Order Number"
                                            value="<%= (searchConditions.result !== undefined && searchConditions.result.orderNumber !== undefined && Array.isArray(searchConditions.result.orderNumber.$in)) ? searchConditions.result.orderNumber.$in.join(',') : '' %>">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-secondary float-right">検索</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->

            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Results</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive">
                        <table id="actions-table" class="table table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <th>ID
                                        <br>Start Date
                                        <br>End Date
                                        <br>Action Status
                                    </th>
                                    <th>Agent</th>
                                    <th>Object</th>
                                    <th>Purpose</th>
                                    <th>Result</th>
                                    <th>Error</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>ID
                                        <br>Start Date
                                        <br>End Date
                                        <br>Action Status
                                    </th>
                                    <th>Agent</th>
                                    <th>Object</th>
                                    <th>Purpose</th>
                                    <th>Result</th>
                                    <th>Error</th>
                                    <th></th>
                                </tr>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->

<div class="modal" id="modal-action" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- DataTables -->
<link rel="stylesheet" href="/node_modules/admin-lte/plugins/datatables/dataTables.bootstrap4.css">

<!-- daterange picker -->
<link rel="stylesheet" href="/node_modules/admin-lte/plugins/daterangepicker/daterangepicker-bs3.css">

<script src="/node_modules/admin-lte/plugins/daterangepicker/daterangepicker.js"></script>
<script src="/js/actions/index.js"></script>